.cart {
    &_shop {
        background-color: #fff;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        &_name {
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid #E6E6E6;
            padding: 10px;
            i {
                font-size: 16px;
                color: #999999;
                margin-right: 5px;
            }
            a {
                font-size: 14px;
                color: #00A0F0;
            }
        }
        &_product {
            padding: 15px;
            border-bottom: 1px solid #E6E6E6;
            &_item {
                display: flex;
            }
            &_pic {
                width: 80px;
                .product-pic {
                    border-radius: 5px;
                    overflow: hidden;
                }
            }
            &_text {
                width: calc(100% - 80px);
                padding-left: 15px;
            }
            &_num {
                display: flex;
                max-width: 150px;
                width: 100%;
                height: 30px;
                border-radius: 5px;
                &_btn {
                    width: 30px;
                    border: 1px solid #CCCCCC;
                    padding: 0;
                    i {
                        font-size: 20px;
                        color: #999;
                        line-height: 1;
                    }
                    &.btn {
                        &-minus {
                            border-radius: 5px 0 0 5px;
                        }
                        &-plus {
                            border-radius: 0 5px 5px 0;
                        }
                    }
                    &-disabled {
                        border-color: #E6E6E6;
                        i {
                            color: #E6E6E6;
                        }
                    }
                }
                &_main {
                    width: calc(100% - 80px);
                    text-align: center;
                    font-size: 14px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid #CCCCCC;
                    border-bottom: 1px solid #CCCCCC;
                }
            }
        }
        &_btn {
            button {
                border-radius: 5px;
                border: 1px solid $primary;
                font-size: 14px;
                font-weight: 700;
                width: 100%;
                padding: 12px 0;
            }
            &_fill {
                background-color: $primary;
                color: #fff;
            }
            &_border {
                color: $primary;
            }
        }
    }
    &-discount {
        width: 100%;
        height: 100%;
        position: fixed;
        max-width: 450px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        &_inner {
            position: relative;
            width: 100%;
            height: 100%;
        }
        &_bg {
            background-color: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
        }
        &_main {
            width: 100%;
            background-color: #fff;
            left: 0;
            bottom: 0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &_content {
            // position: absolute;
            border-radius: 5px 5px 0 0;
            background-color: #fff;
            img {
                display: block;
                width: 130px;
                margin: 40px auto 0;
            }
            p {
                text-align: center;
                font-size: 14px;
                color: #555;
                margin-bottom: 40px;
            }
        }
        &_head {
            padding: 10px;
            text-align: center;
            position: relative;
            border-bottom: 1px solid #E6E6E6;
            h3 {
                font-size: 16px;
                font-weight: 700;
                margin: 0;
            }
            i {
                font-size: 20px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
        &_add {
            padding: 10px 15px;
            background-color: #F6F6F6;
            border-top: 1px solid #e6e6e6;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            input {
                width: calc(100% - 60px - 10px);
                border-radius: 5px;
                border: 1px solid #CCCCCC;
                background-color: #fff;
                padding: 5px 10px;
                &::placeholder {
                    color: #999999;
                }
            }
            button {
                width: 60px;
                height: 40px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #E6E6E6;
                color: #CCCCCC;
            }
        }
        &_btn {
            width: 100%;
            background-color: $primary;
            color: #fff;
            font-size: 14px;
            padding: 13px 5px;
            border-radius: 5px;
        }
    }
}

.confirm {
    padding-bottom: 120px;
    &-product {
        &_pic {
            width: 80px;
            .product-pic {
                border-radius: 10px;
                overflow: hidden;
            }
        }
        &_text {
            width: calc(100% - 80px);
            padding-left: 15px;
        }
    }
    &_point {
        &_checkbox {
            width: 20px;
            height: 20px;
        }
        &_use {
            font-size: 14px;
            color: #999999;
            white-space: nowrap;
            margin: 0 5px;
        }
        &_input {
            height: 42px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: calc(100% - 20px - 84px);
            background-color: #F5F5F5;
            padding: 0 10px;
            input {
                width: calc(100% - 14px);
                text-align: right;
            }
            span {
                display: block;
                font-size: 14px;
                color: #999999;
            }
        }
    }
    &_form {
        &_item {
            margin-bottom: 8px;
            label {
                font-size: 14px;
                display: block;
                color: #666666;
                margin-bottom: 5px;
            }
            input {
                height: 36px;
                border-radius: 5px;
                border: 1px solid #CCCCCC;
                width: 100%;
                font-size: 14px;
                font-size: 14px;
                padding: 0 10px;
            }
            .row {
                margin-left: -5px;
                margin-right: -5px;
                >div {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    &_subscript {
        input {
            width: 17px;
            height: 17px;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
        }
    }
    &_bottom {
        width: 100%;
        max-width: 450px;
        bottom: 0;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        &_btn {
            background-color: $primary;
            padding: 13px 20px;
            border-radius: 5px;
            color: #fff;
            font-size: 14px;
        }
    }
}

.finish {
    &-cheat {
        display: flex;
        border-radius: 5px;
        background-color: #FFF4D3;
        color: #7E6D00;
        align-items: center;
        padding: 10px;
        margin-bottom: 15px;
        i {
            font-size: 20px;
        }
        p {
            margin: 0;
            font-size: 14px;
            width: calc(100% - 20px);
            padding-left: 10px;
        }
    }
    &-pic {
        &_inner {
            width: 80px;
            .product-pic {
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
    &-btn {
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid $primary;
        color: $primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 18px;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
        }
    }
}