@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
$primary: #BF0000;
$transition: 0.3s;

body {
    font-family: "Noto Sans TC", sans-serif;
    color: #444;
    background-color: #f0f0f0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: inherit;
}

.font {
    &-12 { font-size: 12px; }
    &-14 { font-size: 14px; }
    &-16 { font-size: 16px; }
    &-18 { font-size: 18px; }
    &-20 { font-size: 20px; }
    &-22 { font-size: 22px; }
    &-24 { font-size: 24px; }
    &-50 { font-size: 50px; }
}

.color {
    &-primary { color: $primary !important; }
    &-99 { color: #999999; }
    &-66 { color: #666; }
    &-55 { color: #555; }
    &-33 { color: #333; }
    &-lightblue { color: #31ABF2; }
    &-blue { color: #0054AC; }
    &-orange { color: #F36F21; }
    &-brown { color: #7D6E00; }
    &-green { color: #097203; }
}

.border-e9 { border: 1px solid #e9e9e9; }
.border-e6 { border-color: #e6e6e6 !important; }
.border-cc { border-color: #CCCCCC !important; }

.py-2_5 {
    padding-top: 10px;
    padding-bottom: 10px;
}

input, button {
    border: 0;
    outline: none;
    background-color: transparent;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    background-color: #F5F5F5;
    // height: 1000px;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    background-color: $primary;
    color: #fff;
    padding-bottom: 10px;
    &_top {
        padding: 10px 0;
        i {
            font-size: 24px;
        }
        a {
            color: #fff;
            display: block;
        }
    }
    &_logo {
        width: 150px;
        transform: translateY(5px);
    }
    &_cart {
        position: relative;
        &_num {
            font-size: 12px;
            background-color: #fff;
            padding: 0 3px;
            border-radius: 2px;
            position: absolute;
            top: 5px;
            right: -5px;
            color: $primary;
            line-height: 1.2;
        }
    }
    &_search {
        height: 42px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        input {
            width: calc(100% - 40px);
            background-color: #EEEEEF;
            height: 100%;
            padding: 0 10px;
        }
        button {
            width: 42px;
            height: 100%;
            padding: 0;
            i {
                font-size: 18px;
                color: $primary;
                font-weight: 700;
            }
        }
        &-wrap {
            .header_search {
                width: calc(100% - 45px);
            }
        }
        &_cancel {
            width: 45px;
            color: #fff;
            text-align: right;
            padding: 0;
        }
    }
    &-search {
        background-color: #fff;
        border-bottom: 1px solid #E9E9E9;
        &_logo {
            width: 60px;
            display: block;
            >img {
                width: 100%;
            }
        }
        &_link {
            text-align: center;
            i {
                color: #111111;
                font-size: 24px;
                display: block;
                line-height: 1;
            }
            span {
                font-size: 14px;
                color: #555555;
            }
        }
        &_bar {
            width: 70%;
            border: 1px solid #CCCCCC;
            height: 42px;
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            input {
                width: calc(100% - 40px);
                height: 100%;
                padding: 0 10px;
            }
            button {
                width: 42px;
                height: 100%;
                padding: 0;
                background-color: $primary;
                i {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }
    &-product-2nd {
        .header_search {
            position: sticky;
            top: 0;
            left: 0;
        }
    }
}

.topNav {
    // padding: 10px 0 10px 15px;
    height: 40px;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    ul {
        width: calc(100% - 40px);
        height: 100%;
        overflow-x: auto;
        padding-left: 15px;
        height: 100%;
        li {
            margin-right: 10px;
            height: 100%;
            a {
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 10px;
                height: 100%;
                img {
                    width: 20px;
                    margin-right: 5px;
                }
                span {
                    font-size: 12px;
                    white-space: nowrap;
                }
                &.active {
                    span {
                        color: $primary;
                        font-weight: 700;
                    }
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 4px;
                    background-color: $primary;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                }
            }
        }
    }
    &_text {
        // display: none;
        width: calc(100% - 40px);
        height: 100%;
        padding-left: 15px;
        display: none;
        font-weight: 600;
        color: #535353;
        align-items: center;
        font-size: 14px;
    }
    &_arrow {
        width: 40px;
        height: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #E9E9E9;
        i {
            font-size: 18px;
            color: #575757;
            transition: $transition;
        }
        &.active {
            i {
                transform: rotate(180deg);
            }
        }
    }
    &_inner {
        position: relative;
        height: 100%;
    }
    &_menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: calc(100% + 1px);
        left: 0;
        padding: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.4);
        z-index: 5;
        display: none;
        a {
            display: block;
            margin-bottom: 20px;
            img {
                display: block;
                width: 30px;
                margin: 0 auto 5px;
            }
            span {
                display: block;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    &.active {
        ul {
            display: none !important;
        }
        .topNav {
            &_text {
                display: flex;
            }
            &_arrow {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.fix-ad {
    position: fixed;
    width: 100%;
    max-width: 450px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 5;
    &_inner {
        width: 100%;
        position: relative;
    }
    &_close {
        position: absolute;
        font-size: 20px;
        top: 0;
        right: 15px;
        transform: translateY(-50%);
        background-color: #fff;
        line-height: 1;
        border-radius: 50%;
        z-index: 5;
    }
}

.title {
    // padding: 20px 0 0 25px;
    padding-left: 10px;
    position: relative;
    font-size: 18px;
    color: #353535;
    margin: 0 0 15px;
    &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 20px;
        background-color: $primary;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &-normal {
        font-size: 18px;
        color: #353535;
        margin: 0 0 15px;
    }
}

.product-pic {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    &_img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        &.contain {
            object-fit: contain;
        }
    }
    &_tag {
        position: absolute;
        font-size: 14px;
        color: #fff;
        background-color: #FF6A11;
        top: 3px;
        left: 3px;
        padding: 3px;
    }
    &_point {
        width: 60px;
        height: 60px;
        background-image: url(../img/newshop-point.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        span {
            transform: translateY(-10%);
            line-height: 1.2;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        color: #555555;
        font-size: 14px;
        margin: 0 5px;
        &.active {
            background-color: $primary;
            color: #fff;
            border-color: $primary;
        }
    }
}

.hot-topic {
    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #E5E5E5;
        h3 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
        i {
            transition: $transition;
        }
        &.active {
            background-color: #000;
            h3 {
                color: #fff;
            }
            i {
                transform: rotate(180deg);
                color: #fff;
            }
        }
    }
    &_content {
        padding: 15px 20px;
        border-bottom: 1px solid #E5E5E5;
        font-size: 14px;
        display: none;
    }
    &.catagorise {
        .catagorise {
            &_content {
                border-radius: 5px;
                overflow: hidden;
                .hot-topic_title {
                    color: $primary;
                }
            }

        }
    }
}

.footer {
    background-color: #fff;
    padding: 40px 0 60px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 15px;
        a {
            font-size: 14px;
        }
        li {
            margin: 5px;
        }
    }
    &_slogan {
        text-align: center;
        font-weight: 700;
        color: $primary;
        margin-bottom: 15px;
    }
    &_btn {
        margin-bottom: 20px;
        a {
            display: flex;
            align-items: center;
            padding: 10px 15px;
            border-radius: 8px;
            border: 1px solid #DEDEDE;
            margin: 0 2px;
            color: #777777;
            font-size: 14px;
            span {
                margin-left: 5px;
            }
        }
    }
    &_copyright {
        text-align: center;
        font-size: 14px;
        margin: 0;
    }
    &_share {
        &_title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            p {
                margin: 0;
                font-size: 14px;
                color: #888888;
                margin: 0 10px;
                white-space: nowrap;
            }
            &_line {
                width: 100%;
                height: 1px;
                background-image: linear-gradient(to right, #CCCCCC 0%, #CCCCCC 50%, transparent 50%);
                background-size: 5px 18px;
                background-repeat: x-repeat;
            }
        }
        &_icon {
            &_item {
                margin: 0 10px;
                span {
                    display: block;
                    text-align: center;
                    color: #555555;
                    font-size: 14px;
                }
            }
            &_pic {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-bottom: 5px;
                &.fb {
                    background-color: #3B5997;
                }
                &.twitter {
                    background-color: #00B0ED;
                }
                &.line {
                    background-color: #00C300;
                }
                &.earn {
                    background-color: #BF0000;
                }
                i {
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
    }
    &_country {
        padding-bottom: 20px;
        border-bottom: 1px solid #E0DCDC;
        h3 {
            text-align: center;
            font-size: 14px;
            margin-bottom: 15px;
            font-weight: 700;
        }
        ul {
            border: 0;
            margin: 0;
            padding-bottom: 10px;
            li {
                padding: 0 10px;
                position: relative;
                margin: 0;
                font-size: 12px;
                color: #4F4F4F;
                position: relative;
                &::after {
                    position: absolute;
                    content: "·";
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.gift {
    background-color: #fff;
    &_item {
        display: block;
        margin-bottom: 15px;
        >img {
            width: 100%;
        }
    }
}

.cheat {
    &_inner {
        border-radius: 12px;
        background-color: #fff;
            padding: 15px;
            border-radius: 12px;
            border: 1px solid #CCCCCC;
        &_content {
            margin-bottom: 20px;
        } 
    }
    &_title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        i {
            font-size: 16px;
            margin-right: 5px;
            color: $primary;
        }
        h3 {
            font-size: 16px;
            color: $primary;
            font-weight: 700;
            margin: 0;
        }
    }
    &_inner {
        p {
            font-size: 14px;
            padding-left: 22px;
            margin: 0;
        }
        
    }
}

.title-box {
    padding: 15px 20px;
    border-bottom: 1px solid #E9E9E9;
    &_text {
        margin: 0;
    }
}

.japan-shopping {
    &_tab {
        background-color: #fff;
        flex-wrap: nowrap;
        overflow-x: auto;
        .nav-link {
            font-size: 14px;
            padding: 10px;
            border-radius: 0;
            color: #444;
            // border: 0;
            border: 1px solid #E5E5E5;
            border-right: 0;
            border-top: 0;
            white-space: nowrap;
            &.active {
                background-color: $primary;
                color: #fff;
            }
        }
        .nav-item {
            border-radius: 0;
            &:last-child {
                .nav-link {
                    border-right: 1px solid #E5E5E5;
                }
            }
        }
    }
    &_tabContent {
        background-color: #fff;
        padding: 15px 0;
        h3 {
            font-size: 16px;
            font-weight: 900;
            margin: 0;
            color: $primary;
        }
        .row {
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: 10px;
            >div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    &_more {
        span {
            font-size: 14px;
            color: $primary;
            margin-right: 5px;
        }
        i {
            font-size: 14px;
            color: $primary;
        }
    }
    &_item {
        display: block;
        h4 {
            font-size: 14px;
            color: #555555;
            margin: 0;
            font-weight: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin-bottom: 5px;
        }
    }
    &_pic {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 5px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_price {
        color: #555555;
        margin-bottom: 5px;
        .highlight {
            color: $primary;
            font-weight: 700;
        }
    }
    &_tag {
        font-size: 12px;
        color: #F6A623;
        border: 1px solid #F6A623;
        padding: 2px;
    }
    &_link {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        a {
            font-size: 14px;
            color: #444;
            padding: 7px;
            border-radius: 4px;
            border: 1px solid #CCCCCC;
            display: block;
        }
        li {
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }
    &_logo {
        width: 150px;
    }
}

.breadcrumb {
    padding: 10px 0;
    background-color: #fff;
    ul {
        overflow-x: auto;
    }
    a {
        font-size: 14px;
        color: #666666;
        white-space: nowrap;
        &.active {
            font-weight: 700;
        }
    }
    li {
        margin-right: 10px;
    }
    i {
        color: #CCCCCC;
    }
}

.product-2nd {
    &_search {
        position: fixed;
        bottom: 30px;
        left: 50%;
        width: calc(100% - 30px);
        max-width: calc(450px - 30px);
        transform: translateX(-50%);
        z-index: 10;
        background-color: rgba(255,255,255,0.8);
        border-radius: 100px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.25);
        padding: 5px;
        .row {
            margin: 0;
            >div {
                padding: 0;
            }
        }
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            border-radius: 100px;
            color: #333333;
            font-weight: 500;
            padding: 10px;
            &.active {
                background-color: #000;
                color: #fff;
            }
        }
    }
    &_pay {
        background-color: #fff;
        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            p {
                font-size: 14px;
                margin: 0;
                font-weight: 700;
                color: #616161;
                width: 70px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 10px;
                    background-color: #979797;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            img {
                height: 20px;
                margin-right: 10px;
            }
        }
    }
    &_footer {
        background-color: transparent;
    }
    &_link {
        background-color: #fff;
        &_head {
            padding: 10px;
            h4 {
                font-size: 16px;
                font-weight: 700;
                margin: 0;
            }
            &.active {
                .product-2nd_link_icon {
                    i {
                        &.plus {
                            display: none;
                        }
                        &.minus {
                            display: block;
                        }
                    }
                }
            }
        }
        &_icon {
            i {
                font-size: 18px;
                &.minus {
                    display: none;
                }
            }
        }
        &_item {
            border-bottom: 1px solid #CCCCCC;
            ul {
                padding: 10px 0 10px 40px;
                display: none;
                li {
                    margin-bottom: 10px;
                }
                a {
                    font-size: 12px;
                }
            }
        }
    }

}

.menu {
    position: fixed;
    width: 100%;
    max-width: 450px;
    top: 0;
    left: -100%;
    // left: 50%;
    // transform: translateX(-50%);
    height: 100%;
    background-color: #fff;
    z-index: 100;
    // transform: translateX(-150%);
    transition: $transition;
    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid $primary;
        p {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            color: #555;
        }
        i {
            font-size: 20px;
        }
    }
    &_nav {
        height: calc(100vh - 51px);
        overflow-y: auto;
        position: relative;
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 15px;
            border-bottom: 1px solid #e6e6e6;
            span {
                font-size: 14px;
            }
            i {
                font-size: 18px;
                color: #999;
            }
        }
        &_child {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            background-color: #fff;
            top: 0;
            left: 0;
            left: -100%;
            transition: $transition;
            &.active {
                left: 0;
            }
            &_back {
                padding: 10px 15px;
                border-bottom: 1px solid #8A8A8A;
                span {
                    font-size: 14px;
                    font-weight: 700;
                }
                i {
                    font-size: 16px;
                    margin-right: 10px;
                    color: #999;
                }
            }
        }
    }
    &.active {
        // transform: translateX(-50%);
        left: 0;
    }
}