.banner {
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    &_item {
        position: relative;
        width: 100%;
        padding-bottom: 56%;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    .swiper-pagination {
        position: static;
        &-bullet {
            background-color: #BEBEBE;
            opacity: 1;
            &-active {
                background-color: $primary;
            }
        }
    }
}

.swiper-pagination {
    position: static;
    &-bullet {
        background-color: #BEBEBE;
        opacity: 1;
        &-active {
            background-color: $primary;
        }
    }
}

.coupon {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #fff;
    a {
        padding: 5px;
        border: 1px solid #BEBEBE;
        border-radius: 5px;
        padding: 8px;
    }
    &_icon {
        font-size: 18px;
        margin-right: 5px;
        color: $primary;
    }
    &_text {
        width: calc(100% - 20px);
    }
    span {
        font-size: 14px;
    }
    &_arrow {
        font-size: 20px;
    }
}

.tag {
    padding-bottom: 20px;
    background-color: #fff;
    a {
       font-size: 14px;
       padding: 3px;
       border: 1px solid #CCCCCC;
       border-radius: 4px; 
       margin: 0 3px 8px;
       display: block;
       &.highlight {
        color: $primary;
       }
    }
}

.icon-link {
    padding-bottom: 20px;
    background-color: #fff;
    &_item {
        width: 20%;
        margin-bottom: 15px;
        span {
            text-align: center;
            font-size: 13px;
            display: block;
        }
    }
    &_pic {
        width: 50px;
        height: 50px;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 5px;
        i {
            color: #fff;
            font-size: 28px;
        }
        &.pink {
            background-color: #FE7BA1;
        }
        &.red {
            background-color: #F2747D;
        }
        &.orange {
            background-color: #FF6F44;
        }
        &.orange2 {
            background-color: #FF9239;
        }
        &.yellow {
            background-color: #FBAF2F;
        }
    }
}

.gift {
    background-color: #fff;
    &_item {
        display: block;
        margin-bottom: 15px;
        >img {
            width: 100%;
        }
    }
}

.shopping-topic {
    padding-top: 20px;
    .row {
        background-color: #fff;
        margin: 0;
        >div {
            padding: 0;
        }
    }
    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        border-right: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        img {
            width: 20px;
            margin-right: 5px;
        }
        span {
            font-size: 14px;
        }
    }
}

.discount {
    padding-top: 20px;
    .count {
        margin-bottom: 15px;
        margin-left: 10px;
        &_item {
            font-size: 12px;
            background-color: #4B4B4B;
            color: #fff;
            padding: 2px 5px;
            border-radius: 4px;
        }
        span {
            margin: 0 3px;
        }
    }
    &_content {
        background-color: #fff;
        padding: 15px 0;
    }
    &_swiper {
        &_item {
            display: block;
            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        &_pic {
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            margin-bottom: 8px;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_tag {
            position: absolute;
            color: #fff;
            font-size: 14px;
            top: 5px;
            left: 5px;
            background-color: #FF6A11;
            padding: 3px;
        }
        &_shop {
            color: #777777;
            margin-bottom: 5px;
            font-size: 14px;
        }
        &_newPrice {
            color: $primary;
            font-size: 16px;
            margin: 0;
            font-weight: 600;
        }
        &_originPrice {
            color: #A4A4A4;
            font-size: 12px;
            text-decoration: line-through;
            margin: 0 0 0 5px;
        }
    }
}

.recommend {
    padding: 15px 0 30px;
    &_swiper {
        &_item {
            border-radius: 10px;
            overflow: hidden;
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            background-color: #fff;
            padding: 10px;
            border-radius: 0 0 10px 10px;
            h3 {
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            h4 {
                font-size: 16px;
                font-weight: 500;
                color: $primary;
                margin-bottom: 5px;
            }
            .color {
                &-red {
                    color: $primary;
                }
                &-gray {
                    color: #A2A2A2;
                }
            }
        }
        &_reward {
            font-size: 12px;
            margin-bottom: 5px;
        }
        &_evaluate {
            font-size: 12px;
            margin-bottom: 5px;
            &_star {
                color: #FFB238;
                // margin-right: 5px;
                i {
                    margin-right: 3px;
                }
            }
        }
        &_tag {
            li {
                font-size: 12px;
                padding: 2px 3px;
                margin: 0 4px 4px 0;
                color: #F76B6B;
                border-radius: 4px;
                border: 1px solid #F76B6B;
                &.highlight {
                    background-color: #F76B6B;
                    color: #fff;
                }
            }
        }
        &_shop {
            i {
                font-size: 12px;
            }
            span {
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 2px 10px rgba(0,0,0,0.3);
            &::after {
                font-size: 20px;
                color: #666666;
            }
        }
    }
}

.japan-brand {
    padding: 20px 0;
    &_content {
        padding: 0 15px;
    }
    &_swiper {
        &_item {
            display: block;
            width: 100%;
            padding-bottom: 83.33%;
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
}

.member-discount {
    padding: 20px 0;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        >div {
            padding-left: 5px;
            padding-right: 5px;
            a {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 48%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &_slider {
        padding-left: 15px;
    }
    &_swiper {
        &_item {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 83%;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
}

.point-reward {
    &_content {
        background-color: #fff;
        padding: 20px 0;
    }
    &_pic {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 10px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_tag {
        font-size: 14px;
        color: #fff;
        position: absolute;
        top: 5px;
        left: 5px;
        background-color: $primary;
        padding: 3px;
    }
    &_swiper {
        &_item {
            h3 {
                font-size: 14px;
                color: #5E5E5E;
                margin-bottom: 6px;
                font-weight: normal;
            }
        }
    }
    &_price {
        font-size: 14px;
        color: $primary;
        margin-bottom: 5px;
        font-weight: 600;
    }
    &_shop {
        color: #9B9B9B;
        font-size: 14px;
        margin: 0;
    }
}

.rebate {
    &_swiper {
        &_item {
            display: block;
            h3 {
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: normal;
                color: #222222;
            }
        }
    }
    &_pic {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        border: 1px solid #E5E5E5;
        margin-bottom: 10px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0;
            left: 0;
        }
    }
    &_tag {
        font-size: 12px;
        color: #F6A623;
        padding: 3px;
        border: 1px solid #F6A623;
        width: fit-content;
    }
}

.focus {
    &_tab {
        // overflow-y: visible;
        border: 0;
        padding-bottom: 8px;
        .nav-item {
            overflow: visible;
            border-bottom: 3px solid $primary;
        }
        .nav-link {
            border: 0;
            position: relative;
            display: block;
            overflow: visible;
            padding: 10px 20px;
            &.active {
                background-color: transparent;
                color: #444;
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                border: 5px solid;
                border-color: $primary transparent transparent transparent;
                top: calc(100% + 2px);
                // bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                opacity: 0;
                transition: $transition;
            }
        }
    }
    &_item {
        display: block;
        margin-bottom: 15px;
        h4 {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 5px;
        }
        p {
            color: #777777;
            font-size: 14px;
            margin: 0;
        }
    }
    &_pic {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 8px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
}

.product-catagory {
    // padding-top: 10px;
    &_head {
        &.f1 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #F46F2A;
                    }
                }
                &_more {
                    color: #F46F2A;
                }
            }
        }
        &.f2 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #E74C3C;
                    }
                }
                &_more {
                    color: #E74C3C;
                }
            }
        }
        &.f3 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #E04C71;
                    }
                }
                &_more {
                    color: #E04C71;
                }
            }
        }
        &.f4 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #0A69B8;
                    }
                }
                &_more {
                    color: #0A69B8;
                }
            }
        }
        &.f5 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #A66837;
                    }
                }
                &_more {
                    color: #A66837;
                }
            }
        }
        &.f6 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #037EB1;
                    }
                }
                &_more {
                    color: #037EB1;
                }
            }
        }
        &.f7 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #EA8E00;
                    }
                }
                &_more {
                    color: #EA8E00;
                }
            }
        }
        &.f8 {
            .product-catagory {
                &_title {
                    .floor {
                        color: #78981C;
                    }
                }
                &_more {
                    color: #78981C;
                }
            }
        }
    }
    &_title {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
    &_content {
        background-color: #fff;
        padding: 10px 0;
    }
    &_more {
        font-size: 14px;
    }
    &_news {
        a {
            font-size: 14px;
            padding: 5px 0;
            display: block;
            border-bottom: 1px solid #E5E5E5;
            &:last-child {
                border: 0;
            }
        }
    }
    &_list {
        padding-bottom: 10px;
        border-bottom: 1px dashed #E5E5E5;
    }
    &_item {
        .product-pic_tag {
            top: 0;
            left: 0;
        }
        h3 {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 5px;
        }
        p {
            color: #777777;
            font-size: 14px;
            margin: 0;
        }
    }
    &_link {
        display: flex;
        flex-wrap: wrap;
        li {
            font-size: 14px;
            color: #F57D3F;
            border: 1px solid #F57D3F;
            padding: 3px;
            border-radius: 4px;
            margin: 0 4px 4px 0;
        }
    }
}

.new-shop {
    &_tab {
        border-color: $primary;
        .nav-item {
            width: 25%;
        }
        .nav-link {
            width: 100%;
            padding: 10px 0;
        }
    }
    &_name {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px;
        color: #161616;
    }
    &_intro {
        color: #828282;
        font-size: 13px;
        margin: 0;
    }
}

.credit-card {
    &_item {
        width: 100%;
        padding-bottom: 53%;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
}

.baseball_logo {
    width: 60px;
}

.magazine {
    &_head {
        padding-bottom: 10px;
        border-bottom: 1px dashed #E5E5E5;
        margin-bottom: 10px;
    }
    &_text {
        h3 {
            font-size: 16px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #E5E5E5;
        }
        p {
            font-size: 14px;
            margin-bottom: 5px;
            color: #777777;
        }
        a {
            color: #000;
            font-size: 14px;
        }
    }
    &_list {
        li {
            position: relative;
            padding-left: 10px;
            font-size: 14px;
            margin-bottom: 5px;
            &::before {
                position: absolute;
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #FF6A11;
                left: 0;
                top: 10px;
            }
        }
        a {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 4px;
            border: 1px solid #E5E5E5;
        }
    }
}

.join {
    .row {
        margin-left: -5px;
        margin-right: -5px;
        >div {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    &_item {
        padding: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        span {
            font-size: 14px;
        }
    }
    &_icon {
        color: $primary;
        font-size: 18px;
        margin-right: 5px;
    }
    &_arrow {
        color: #A3A3A3;
        font-size: 14px;
        margin-left: 5px;
    }
    &_text {
        h3 {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            margin-bottom: 15px;
        }
        a {
            color: #0055AC;
        }
    }
}

.cheat {
    &_inner {
        border-radius: 12px;
        background-color: #fff;
            padding: 15px;
            border-radius: 12px;
            border: 1px solid #CCCCCC;
        &_content {
            margin-bottom: 20px;
        } 
    }
    &_title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        i {
            font-size: 16px;
            margin-right: 5px;
            color: $primary;
        }
        h3 {
            font-size: 16px;
            color: $primary;
            font-weight: 700;
            margin: 0;
        }
    }
    &_inner {
        p {
            font-size: 14px;
            padding-left: 22px;
            margin: 0;
        }
        
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    // position: relative;
    z-index: 8;
    top: 0;
    left: 0;
    &_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
    }
    &_content {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >img {
            width: 100%;
        }
    }
    &_close {
        position: absolute;
        // width: 20px;
        // height: 20px;
        font-size: 20px;
        line-height: 1;
        background-color: #fff;
        border-radius: 50%;
        top: 0;
        right: 10px;
        transform: translateY(-50%);
        border: 1px solid #fff;
    }
}

.more-topic {
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 20;
    left: -100%;
    transition: $transition;
    &.active {
        left: 0;
    }
    &_head {
        padding: 10px 15px;
        border-bottom: 1px solid #E9E9E9;
    }
    &_icon {
        font-size: 24px;
        margin-right: 5px;
        color: $primary;
    }
    h4 {
        font-size: 18px;
        font-weight: 700;
        color: $primary;
        margin: 0;
    }
    &_tab {
        width: 90px;
        display: block;
        height: calc(100vh - 57px);
        overflow-y: auto;
        background-color: #EEEEEE;
        border: 0;
        .nav-item {
            padding: 0;
            width: 100%;
            border: 0;
            border-bottom: 1px solid #E1E1E1;
        }
        .nav-link {
            border-radius: 0;
            font-size: 14px;
            width: 100%;
            color: #555555;
            border: 0;
            padding: 15px 0;
            &.active {
                color: #111111;
            }
        }
    }
    &_tabContent {
        width: calc(100% - 90px);
        padding: 20px;
        height: calc(100vh - 57px);
        overflow-y: auto;
        h5 {
            font-size: 14px;
            margin-bottom: 25px;
            color: #555555;
        }
    }
    &_item {
        margin-bottom: 15px;
        display: block;
        img {
            display: block;
            // width: 95%;
            width: 50px;
            margin: 0 auto 5px;
        }
        span {
            display: block;
            text-align: center;
            font-size: 14px;
            color: #111111;
        }
    }
}