.shop-nav {
    li {
        width: 20%;
        background-color: #fff;
        border-bottom: 1px solid #E9E9E9;
        a {
            display: block;
            text-align: center;
            padding: 5px 0;
            color: #555555;
            border-right: 1px solid #E9E9E9;
            i {
                font-size: 20px;
                // margin-bottom: 2px;
                display: block;
                line-height: 1;
            }
            span {
                font-size: 12px;
            }
            &.active {
                color: $primary;
            }
        }
    }
    &_content {
        width: 100%;
        max-width: 450px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        z-index: 40;
        left: -100%;
        transition: $transition;
        &_head {
            position: relative;
            &_tab {
                width: 100%;
                >ul {
                    width: 100%;
                    flex-wrap: nowrap;
                    padding: 0;
                    .nav-item {
                        width: 100%;
                    }
                    .nav-link {
                        background-color: #fff;
                        border-radius: 0;
                        color: #999999;
                        font-size: 14px;
                        width: 100%;
                        border-bottom: 1px solid #AAAAAA;
                        &.active {
                            background-color: transparent;
                            color: #555555;
                            border-color: $primary;
                            font-weight: 700;
                        }
                    }
                }
            }
            &_close {
                font-size: 18px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.active {
            left: 0;
            transform: none;
        }
    }
    &_tabContent {
        height: calc(100% - 38px);
        overflow-y: auto;
        a {
            padding: 13px 15px;
            display: block;
            border-bottom: 1px solid #E9E9E9;
            font-size: 14px;
        }
        .wait {
            h3 {
                font-size: 16px;
                font-weight: 700;
            }
            img {
                width: 150px;
                display: block;
                margin: 100px auto;
            }
        }
    }
}

.shop-recommend {
    &_title {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 3px solid #D9D9D9;
        margin-bottom: 15px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            background-color: $primary;
            top: 100%;
            left: 0;
        }
        svg {
            width: 20px;
            height: 20px;
        }
        h2 {
            font-size: 16px;
            margin: 0 5px;
            font-weight: 700;
        }
    }
    .product-commonItem {
        margin-bottom: 15px;
    }
}

.shop-discount {
    &_tab {
        border-bottom: 1px solid #CCCCCC;
        overflow-x: auto;
       .nav-link {
            font-size: 14px;
            color: #999999;
            border-radius: 0;
            position: relative;
            padding: 13px 15px;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $primary;
                left: 0;
                // top: 100%;
                bottom: 0;
                opacity: 0;
                transition: $transition;
            }
            &.active {
                color: #333333;
                background-color: transparent;
                // border-color: $primary;
                &::after {
                    opacity: 1;
                }
            }
       } 
    }
    &_item {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #FFDBA3;
    }
    &_title {
        background-color: #FFEFD6;
        border-radius: 5px 5px 0 0;
        padding: 10px 13px;
        h5 {
            margin: 0;
            font-size: 16px;
        }
    }
    &_content {
        padding: 10px 15px;
        p {
            font-size: 14px;
            margin: 0;
        }
    }
}

.shop-contact {
    &_item {
        border-radius: 5px;
        padding: 20px 10px;
        background-color: #fff;
        margin-bottom: 10px;
    }
    &_download {
        padding: 15px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: #EBF7FE;
        color: #006497;
        span {
            width: calc(100% - 16px);
            font-size: 12px;
            padding-right: 10px;
        }
        i {
            font-size: 16px;
        }
    }
    &_form {
        label {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 5px;
            width: 100%;
            display: block;
        }
        input, textarea {
            border-radius: 5px;
            border: 1px solid #CCCCCC;
            padding: 5px 10px;
            width: 100%;
            outline: none;
        }
        textarea {
            height: 100px;
        }
        button {
            width: 100%;
            padding: 12px;
            border-radius: 5px;
            background-color: $primary;
            color: #fff;
            font-size: 14px;
        }
    }
}